<h1>Between 0.3 with average</h1>

<%= render "list", passenger: @passengers %>

<div>Average weight of a thing</div>
<%= @average %>

<div>
  <%= link_to root_path do%>
    <p>Back</p>
  <%end%>
</div>