.order-field {
  font-weight: bold;
  color: red;
}

.order-item {
  font-size: 17px;
}

.dishes-title {
  font-size: 1.5em;
  font-weight: bold;
}

.dishes-list {
  margin-top: 20px;
}

.field-name {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 100px;
}

.order-title {
  padding-left: 400px;
}