<h1>Counts</h1>

<div>More than 2</div>
<%= @passengers_1 %>

<div> More than average</div>
<%= @passengers_2 %>

<div>Average</div>
<%= @average %>

<div>
  <%= link_to root_path do%>
    <p>Back</p>
  <%end%>
</div>